<!DOCTYPE html>
<html>
  <head>
    <title>Miro</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'http://coffeescript.org/v2/browser-compiler/coffeescript.js'  %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= cell :menu %>
    <div class='container-fluid' >
      <%= render 'flash' %>
      <%= yield %>
    </div>
  </body>
</html>
